<%= render 'layouts/banner' %>
<h1>My lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
<br>
<br>
<div><%= link_to "Add a new list", new_list_path %></div>
</ul>
