<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vecteurs-libre/fond-affiche-film-festival-film-cinema_1017-33461.jpg?w=1800&t=st=1700146881~exp=1700147481~hmac=1786afd001bb9d4d88f75163647e2b87a325e932413059b47f352bb8ca78f3cf);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>
